* {
    font-family: Arial, Helvetica, sans-serif;
}


#hdr {
    margin-bottom: 6%;
    margin-top: 2%;
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-content: center;



}

form {
    border: 3px solid #f1f1f1;
    width: 350px;
    border-radius: 3px;
    margin-bottom: 10px;

}

h2 {
    margin-top: -4%;
    margin-bottom: 2%;
    font-weight: 500;
}

label {
    font-size: x-small;
    /* font-weight: 500; */

}

.lpsw {
    margin-right: 140px;
    margin-left: 30px;
    font-size: x-small;
}

#fpl {
    text-align: right;
    font-size: 12px;
    text-decoration: none;
}

input[type=email],
input[type=password] {
    width: 100%;
    padding: px 20px;
    margin: 8px 0;
    border: 1.5px solid #090808b1;
    box-sizing: border-box;
    height: 25px;
    font-size: x-small;
}

input[type=email] {
    margin-bottom: 20px;
}

#button1 {
    background-color: #c7851a;
    /* padding: 10px 1px; */
    margin: 8px 0;
    border: px;
    border-radius: 2px;
    width: 100%;
    font-size: x-small;
    height: 30px;
    border-color: #c7851a;
}

li {
    font-size: 12px;

}

.Help_btn {
    text-decoration: none;
}

#btn2 {
    background-color: #969d9bb2;
    padding: 0px px;
    margin: 8px 0;
    border: px;
    border-radius: 2px;
    width: 325px;
    font-size: x-small;
    border-color: rgba(63, 60, 60, 0.295);
    height: 30px;

}

#n2a {
    font-size: 12px;
    font: rgba(114, 102, 102, 0.484);
}


.container {
    padding: 15px;
}

hr {
    border: 2;
    clear: both;
    display: block;
    width: 100%;
    background-color: #8f8f8ba7;
    height: 1px;
    margin-top: 2%;
}

#bot3 {
    /* display: flex; */
    margin-top: 1%;
    font-size: xx-small;
    word-spacing: 25%;
    /* justify-content: space-between; */
    margin-left: 20px;

}

#bot3>span+span {
    margin-inline: 15px;
}

.bot3 {
    text-decoration: none;
}

.cpyrght {
    margin-top: 15px;
    font-size: xx-small;
}

h4 {
    display: flex;
    flex-direction: row;
}